<body>

    <div class="galeria">
        <input type="radio" name="navegacion" id="_1" checked>
        <input type="radio" name="navegacion" id="_2">
        <input type="radio" name="navegacion" id="_3">
        <input type="radio" name="navegacion" id="_4">
        <img src="./assets/images/centro-de-distribucion.jpeg" width="100%" height="100%" alt="Galeria CSS 1" />
        <img src="./assets/images/home.jpg" width="100%" height="100%" alt="Galeria CSS 2" />
        <img src="./assets/images/login.jpg" width="100%" height="100%" alt="Galeria CSS 3" />
        <img src="./assets/images/logo_falabella.png" width="100%" height="100%" alt="Galeria CSS 4" />
    </div>

</body>